.shopping-cart{
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
}
.product-name a:link{
    text-decoration: none;
    color: #000;
}
.product-name a:visited {
    color: rgb(41, 39, 39);
    opacity: 0.5;
  }



.shopping-cart .content{
	
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}
select {
    border:0px;
    outline:0px;
 }

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 45px;
	padding-bottom: 20px;
    border-bottom: 0.1rem rgb(226, 226, 226) solid ;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
    line-height: 150%;
   
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
    opacity: 0.9;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}
#block_container
{
  align-items: center;  
   
}
#block1, #block2
{
    display:inline;
    padding: 3%;
   
}
#block_container1	
{
  align-items: center; 
  
}
#block4{
  margin-left: 65%;
  
  
}

#block3, #block4
{
    display:inline;
	padding-left: 1%;
    
   
   
}
#block_container
{
  align-items: center; 
  margin-top: 2%;
  
   
}
#block6{
  margin-left: 24%
  
}

#block5, #block6
{
    display:inline;
    
   
   
}


.shopping-cart .items .product .info .price{
	
    font-weight: bold;
    font-size: 14px;
    padding-top: 0;
    
    
 }

.shopping-cart .summary{
	
    background-color: transparent;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 16px;
        
		
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}

@media (max-width: 412px){
    .shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 16px;
        margin-left: -190px;
        letter-spacing: 100%;
        padding-top: 5%;
		
	}
}



div.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
  }
  
 div.scrollmenu img {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
  
div.scrollmenu img:hover {
    background-color: #e5e5e5;
  }

 .banner{
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 10 10px;
    
  }



  /* Fav */
 #img2{
	 height: 29rem;
	 width: 40rem;
 }

